$color-1: #ff6b00;
$color-2: #101010;
$color-3: #fff;
$color-4: #f6eddf;
$color-5: #606060;
$color-6: #bdbbbb;
$color-7: #f7e6ca;

$font-family1: 'Jost', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family3: Verdana, Geneva, Tahoma, sans-serif;